@font-face {
  font-family: "batman";
  src: url("/font/GothamHTF-Book.woff");
}

body {
  font-family: "batman";
}

span {
  color: #49a6e9;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 13.5rem;
}

#txt {
  border-style: none;
  width: 300px;
  padding: 12px 7px;
  text-align: center;
  font-size: larger;
  border-radius: 6px;
  color: white;
  background-color: rgb(49, 49, 49);
  border: 2px solid white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: transparent;
  cursor: pointer;
  font-family: "batman";
  font-size: larger;
  width: 150px;
  border: none;
  /* padding: 10px 7px;
  border: none;
  border-radius: 6px;
  border: 2px solid white; */
}

/* .button:hover {
  background-color: rgb(49, 49, 49);
  color: white;
} */

.pre-btn {
  border: none;
  border-style: none;
  background: transparent;
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  /* .button {
    padding: 12px 7px;
  } */

  .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
