@font-face {
  font-family: 'batman';
  src: url('./font/GothamHTF-Book.woff');
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'batman';
}

h1 {
  text-align: center;
  margin: 5rem;
}

.uiForm{
  position: absolute;
  top: 20%;
  left: 25%;
  border: 1px solid black;
  border-radius: 5px;
  margin: 60px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
  padding: 20px;
}

.uiForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.usernameThing{
  margin: 10px;
}

.emailThing{
  margin: 10px;
}

.passwordThing{
  margin: 10px;
}

input{
  padding: 8px;
  margin-top: 5px;
  font-family: 'batman';
}

p{
  color: red;
  margin-top: inherit;
}

.btn{
  margin: 10px;
  color: white;
  border-style: none;
  border-radius: 5px;
  background: rgb(122, 122, 228);
  cursor: pointer;
  font-family: "batman";
  width: 190px;
  padding: 10px;
}